In [1]:
import pandas as pd
data = {
    'x': [1,2,3,4,5,7,10],
    'y': [2,3,5,4,6,6,8]
}
data

{'x': [1, 2, 3, 4, 5, 7, 10], 'y': [2, 3, 5, 4, 6, 6, 8]}

In [2]:
df = pd.DataFrame(data)
df

    x  y
0   1  2
1   2  3
2   3  5
3   4  4
4   5  6
5   7  6
6  10  8

In [3]:
#Pearson correlation coefficient
r = df['x'].corr(df['y'])
r

np.float64(0.9391480052471199)